body {
  overflow: hidden;
}

/* Menu */
#menu {
  background-color: rgba(68, 68, 68, 1);
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  text-align: center;
}

#menu img {
  max-width: 75%;
  height: auto;
  margin-top: 10vh;
  margin-bottom: 1rem;
}

#menu h1 {
  color: white;
}

#menu .icons-2x {
  display: none;
}

#menu .icons a {
  color: white;
  padding: 5px;
}

#menu .icons a:hover {
  color: rgb(33, 122, 224);
}

#menu .links {
  text-align: center;
  margin-top: 1.5rem;
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

#menu .links a {
  all: unset;
  color: white;
  font-size: 18px;
}

#menu .links a:hover {
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 2px solid rgb(33, 122, 224);
}

#menu .copyright {
  color: white;
  margin-top: 2rem;
}

/* Mobile Menu */
#menu-mobile {
  background-color: rgba(68, 68, 68, 1);
  max-width: 300px;
  position: absolute;
  z-index: 3;
  left: -300px;
  min-height: 100vh;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: center;
  transition: all 0.5s ease-out;
}

#menu-mobile .menu-btn-close {
  visibility: hidden;
}

#menu-mobile img {
  max-width: 75%;
  height: auto;
  margin-top: 10vh;
  margin-bottom: 1rem;
}

#menu-mobile .icons a {
  color: white;
  padding: 5px;
}

#menu-mobile .icons a:hover {
  color: rgb(33, 122, 224);
}

#menu-mobile .links-mobile {
  text-align: center;
  margin-top: 1.5rem;
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

#menu-mobile .links-mobile a {
  all: unset;
  color: white;
  font-size: 18px;
}

#menu-mobile .links-mobile a:hover {
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 2px solid rgb(33, 122, 224);
}

#menu-mobile .copyright {
  color: white;
  margin-top: 2rem;
}

/* Content */
#content {
  background-color: rgba(255, 255, 255, 0.85);
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
  padding-left: 4rem;
  padding-right: 4rem;
}

#content .menu-btn .fa-bars {
  display: none;
}

#content .menu-btn-2x .fa-bars {
  display: none;
}

#content h1 {
  margin-top: 20%;
  font-size: 75px;
}

#content h2 {
  font-size: 24px;
}

#content .title-icons {
  padding-top: 1rem;
  text-align: center;
}

#content .title-icons-3x {
  display: none;
}

#content .title-icons-1x {
  display: none;
}

#content .title-icons .fa-code {
  padding-left: 110px;
  padding-right: 110px;
}

#content .sections {
  padding-right: 15%;
  padding-left: 15%;
}

/* About Me */
#content #about {
  padding-top: 50px;
  margin-top: 400px;
}

#content .about {
  padding: 15px;
  border: 2px solid;
  border-radius: 20px;
  margin-bottom: 100px;
  background-color: white;
  box-shadow: 5px 5px 15px grey;
}

#content .about h3 {
  border-bottom: 2px solid;
}

/* Education */
#content #education {
  padding-top: 50px;
  margin-top: 250px;
}

#content .education {
  padding: 15px;
  border: 2px solid;
  border-radius: 20px;
  margin-bottom: 100px;
  background-color: white;
  box-shadow: 5px 5px 15px grey;
}

#content .education h3 {
  border-bottom: 2px solid;
}

#content .education .school {
  margin-left: 25px;
  margin-right: 25px;
}

#content .education .school-title {
  border-bottom: 1px solid rgb(72, 144, 226);
}

#content .education .school-details {
  margin-top: -12px;
}

#content .education .school-details small b {
  padding-left: 30px;
}

/* Experience */
#content #experience {
  padding-top: 50px;
  margin-top: 250px;
}

#content .experience {
  padding: 15px;
  border: 2px solid;
  border-radius: 20px;
  margin-bottom: 100px;
  background-color: white;
  box-shadow: 5px 5px 15px grey;
  padding-bottom: 4rem;
}

#content .experience h3 {
  border-bottom: 2px solid;
}

#content .experience .circle {
  height: 40px;
  width: 40px;
  background-color: rgb(72, 144, 226);
  border-radius: 50%;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border: 1px solid rgb(33, 122, 224);
}

#content .experience .circle .fa-briefcase {
  color: white;
  margin-left: 10px;
  margin-top: 10px;
}

#content .experience .line {
  width: 2px;
  height: 410px;
  background-color: grey;
  margin-bottom: -1rem;
  margin-left: 20px;
}

#content .experience .job {
  border: 2px solid rgb(33, 122, 224);
  padding: 10px;
  border-radius: 0px 20px 0px 20px;
  margin-top: 50px;
  margin-bottom: -1rem;
}

#content .experience .job .position-title {
  margin-bottom: 2rem;
  border-bottom: 1px solid rgb(72, 144, 226);
  margin-bottom: 0px;
}

#content .experience .job .position-small-text {
  margin-top: -20px;
  font-size: 16px;
}

#content .experience .job .position-description {
  font-size: 18px;
}

/* Projects */
#content #projects {
  padding-top: 50px;
  margin-top: 250px;
}

#content .projects {
  padding: 15px;
  border: 2px solid;
  border-radius: 20px;
  margin-bottom: 100px;
  background-color: white;
  box-shadow: 5px 5px 15px grey;
}

#content .projects h3 {
  border-bottom: 2px solid;
}

#content .projects .project {
  margin-left: 25px;
  margin-right: 25px;
}

#content .projects .project .project-title {
  border-bottom: 1px solid rgb(72, 144, 226);
}

#content .projects .project .project-description {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 18px;
}

#content .projects .project .project-description i {
  color: rgb(33, 122, 224);
}

/* Skills */
#content #skills {
  padding-top: 50px;
  margin-top: 250px;
}

#content .skills {
  padding: 15px;
  border: 2px solid;
  border-radius: 20px;
  margin-bottom: 45vh;
  background-color: white;
  box-shadow: 5px 5px 15px grey;
}

#content .skills h3 {
  border-bottom: 2px solid;
}

#content .skills .skills-list {
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

#content .skills i {
  padding: 10px;
  color: rgb(33, 122, 224);
}

/* Hide scrollbar for Chrome, Safari and Opera */
#content::-webkit-scrollbar {
  display: none;
}
#menu-mobile::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
#content {
  -ms-overflow-style: none;
}
#menu-mobile {
  -ms-overflow-style: none;
}
