@import "main.css";


/* X-Large */
@media (min-width: 1900px) {

    /* Menu */
    #menu img {
        max-width: 65%;
    }

    #menu h1 {
        font-size: 55px;
    }

    #menu .icons {
        display: none;
    }

    #menu .icons-2x {
        all: unset;
    }

    #menu .icons-2x a {
        color: white;
        padding: 10px;
    }

    #menu .links a {
        font-size: 24px;
    }

    #menu .copyright small {
        font-size: 16px;
    }

    /* Content */
    #content h1 {
        font-size: 125px;
    }

    #content h2 {
        font-size: 40px;
    }

    #content .title-icons {
        display: none;
    }

    #content .title-icons-3x {
        all: unset;
    }

    #content .title-icons-3x .fa-code {
        padding-left: 200px;
        padding-right: 200px;
    }
}

/* Large */
@media (max-width: 1120px) {

    /* Menu */
    #menu {
        display: none;
    }

    #menu-mobile .menu-btn-close .fa-times {
        visibility: visible;
        color: white;
        float: right;
        margin-top: 20px;
        margin-right: 20px;
        cursor: pointer;
    }

    #menu-mobile .menu-btn-close .fa-times:hover {
        color: rgb(33, 122, 224);
    }

    #menu-background {
        position: absolute;
        z-index: 3;
        height: 100vh;
        width: 100%;
        margin-left: 300px;
        background-color: rgba(68, 68, 68, .85);
        left: 100%;
        transition: all 0.5s ease-out;
    }

    /* Content */
    #content {
        all: unset;
        background-color: rgba(255, 255, 255, 0.85);
        min-height: 100vh;
        max-height: 100vh;
        overflow-y: scroll;
        scroll-behavior: smooth;
        overflow-x: hidden;
        padding-left: 4rem;
        padding-right: 4rem;
    }

    #content .menu-btn .fa-bars {
        display: block;
        margin-top: 35px;
        cursor: pointer;
        top: 0;
        z-index: 2;
        position: fixed;
        max-width: 20px;
    }

    #content .menu-btn .fa-bars:hover {
        color: rgb(33, 122, 224);
    }


}

/* Medium */
@media (max-width: 825px) {

    /* Content */
    #content {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    #content .menu-btn .fa-bars {
        margin-top: 15px;
    }

    /* Experience */
    #content .experience .col-1 {
        display: none;
    }

    #content .experience .col-9 {
        all: unset;
    }

    #content .experience .job {
        border: 0px;
        margin-top: 0px;
        margin-left: 25px;
        margin-right: 25px;
    }

}

/* Small */
@media (max-width: 625px) {

    /* Content */
    #content {
        background-color: rgba(255, 255, 255, 0.9);
        padding-left: 0rem;
        padding-right: 0rem;
    }

    #content .menu-btn .fa-bars {
        display: none;
    }

    #content .menu-btn-2x .fa-bars {
        display: block;
        margin-top: 10px;
        margin-left: 25px;
        cursor: pointer;
        top: 0;
        z-index: 2;
        position: fixed;
        max-width: 20px;
    }

    #content .menu-btn-2x .fa-bars:hover {
        color: rgb(33, 122, 224);
    }

    #content h1 {
        margin-top: 40%;
        font-size: 50px;
    }

    #content h2 {
        font-size: 16px;
    }

    #content .title-icons {
        display: none;
    }

    #content .title-icons-1x {
        all: unset;
    }

    #content .title-icons-1x .fa-code {
        padding-left: 75px;
        padding-right: 75px;
        margin-bottom: 60%;
    }

    /* About */
    #content #about {
        margin-top: 25px;
    }

    #content .about {
        all: inherit;
        border-bottom: 2px solid black;
    }

    /* Education */
    #content #education {
        margin-top: 25px;
    }

    #content .education {
        all: inherit;
        border-bottom: 2px solid black;
    }

    #content .education .school {
        margin: 0px;
    }

    #content .education .school-details small b {
        padding-left: 0px;
    }

    /* Experience */
    #content #experience {
        margin-top: 25px;
    }

    #content .experience {
        all: inherit;
        border-bottom: 2px solid black;
    }

    #content .experience .job {
        padding: 0px;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 1rem;
    }

    /* Projects */
    #content #projects {
        margin-top: 25px;
    }

    #content .projects {
        all: inherit;
        border-bottom: 2px solid black;
    }

    #content .projects .project {
        margin: 0px;
        padding: 0px;
    }

    #content .projects .project .project-description {
        margin: 0px;
        font-size: 18px;
    }

    #content .projects .project .download-links {
        padding-top: 1rem;
    }

    /* Skills */
    #content #skills {
        margin-top: 25px;
    }

    #content .skills {
        all: inherit;
        border-bottom: 2px solid black;
        padding-bottom: 1rem;
        margin-bottom: 25vh;
    }
}